@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    text-align: justify;
}

body {
    background-color: black;
    overflow-x: hidden;

}



/* background section home */
.section {
    min-height: 100vh;
    background-color: black;
}

.btnPost {
    height: 50px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0px 0px 0px 20px;
    border: none;
}


/* header vivencias */
.header {
    background-image: url(../assets/imgsConecRap/vivencias/backgroundHeader.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 250px;
    padding: 30px;
}

.subtitulos_header {
    font-size: 50px;
    color: white;
    gap: 20px;
    display: flex;
    flex-direction: column;
}


/* post containe */
.container_post {
    background-color: black;
    min-height: 550px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */

.row_buttons {
    width: 96%;
    BACKGROUND: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnPost_div {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

#btnModal {
    height: 80px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#btnDashboard {
    width: 80px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 80px;
    background-color: orange;
}

/* post main list */

.posts_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 92%;
    BACKGROUND: black;
    min-height: 550px;
    padding: 35px;
}

/* post template */
.post {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 560px;
    align-items: center;
    justify-content: center;
}

.texto_post h1 {
    font-size: 22px;
}

.texto_post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 150px;
    width: 95%;
    justify-content: flex-start;
    height: 30%;
    gap: 10px;
}



.post iframe {
    border-radius: 10px;
}



/* modal */
.janela-modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.522);
    display: none;
    align-items: center;
    justify-content: center;
}

.janela-modal.abrir {
    display: flex;
    background: #0a0a0a8c;
    backdrop-filter: blur(10px);
    z-index: 999;
}

.modal {
    height: 80%;
    background: orange;
    width: 40%;
    min-width: 200px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* inputs */
.campo_input_modal {
    width: 100%;
    height: 10%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.campo_input_modal h5 {
    font-size: 25px
}

.input_modal {
    width: 90%;
    height: 40px;
    border: none;
    box-shadow: 0px 0px 10px 2px #0000006e;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    background-color: white;
}

#url_video {
    font-size: 15px;
    font-weight: normal;
}

/* buttons */
.fechar_modal {
    width: 95%;
    display: flex;
    font-size: 20px;
    z-index: 999;
    justify-content: flex-end;
    align-items: center;
}


.fechar_modal span {
    width: 40px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.fechar_modal span:hover {
    color: orange;
}

#enviar_modal {
    cursor: pointer;
    transition: 0.5s;
}


#enviar_modal:hover {
    transform: scale(1.05);
}


@keyframes abrirmodal {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }


}

/* java script */
.abrir .modal {
    animation: abrirmodal 0.5s;
}

/* form */
form#form_postagem {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* modal dash */


.janela_dash {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: #00000024;
    z-index: 999;


}


.janela_dash.abrir {
    display: flex;
    background: #0a0a0a8c;
    backdrop-filter: blur(10px);
    z-index: 999;

}


.modal_dash {
    width: 85%;
    min-width: 490px;
    min-height: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: white;
    height: 80%;
    gap: 20px;
}

.grafico_Dash {
    height: 300px;
    background: white;
}

.container_indicadores {
    min-height: 90%;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    justify-content: space-around;
    width: 25%;
}

.indicadores {
    height: 40%;
    background: #111827;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_graficos {
    width: 40%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

canvas {
    height: 100%;
    width: 100%;
}

@keyframes abrirmodalDash {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }


}

.abrir .modal_dash {
    animation: abrirmodalDash 0.5s;
}

/* feed dash */
.container_feed {
    width: 35%;
    min-width: 400px;
}


.titleDash {
    height: 10%;
    display: flex;
    align-items: center;
    min-height: 60px;
    gap: 20%;
}

#btnFecharDash {
    height: 50px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 10px;
}

.btnFeeDash {
    height: 50px;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0px 0px 0px 20px;
    background-color: orange;
    color: white;
    cursor: pointer;
    border: none;
    translate: -5px;
}

.value_indicadores {
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: orange;
}

/* post */

.post_dash {
    width: 90%;
    height: 55%;
    background: white;
    border-radius: 15px;
    padding: 10px;
}

.texto_post_das {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 15px;
}

.feed_dash {
    height: 85%;
    width: 90%;
    background: #111827;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    flex-direction: column;
    overflow-y: scroll;
    gap: 10px;
    border: 5px solid #111827;
    color: white;
}

.texto_post_das {
    height: 30%;
    width: 100%;
}

#desc_kpi {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-start;
    gap: 10px;
}


/* vivencias dash */
.postModal {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
    max-height: 500px;
    padding: 10px;
    color: black    ;
}

.categoria_modal {
    height: 15px;
    background: orange;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.desc_modal {
    width: 90%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    padding: 5px;
    justify-content: flex-start;
}

.texto_postDash {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 50%;
    width: 95%;
    justify-content: flex-start;
    height: fit-content;
    gap: 10px;
    text-align: left;
}